<section class="sidebar">
    <div>

        <a href="/Home/Detail/4">
            <div>
                <img src="~/filmblog.templete/img/filmfotolar/EsaretinBedeliSide.jpg" title="Esaretin Bedeli (1994)" alt="Esaretin Bedeli (1994)">
            </div>
        </a>

        <a href="/Home/Detail/3">
            <div>
                <img src="~/filmblog.templete/img/filmfotolar/FightClubSide.jpg" title="Dövüş Kulübü (1999)" alt="Dövüş Kulübü (1999)">
            </div>
        </a>

        <a href="/Home/Detail/5">
            <div>
                <img src="~/filmblog.templete/img/filmfotolar/Forrest Gump Side.jpg" title="Forrest Gump (1994)" alt="Forrest Gump (1994)">
            </div>
        </a>

        <a href="/Home/Detail/2">
            <div>
                <img src="~/filmblog.templete/img/filmfotolar/BarbieSide.jpg" title="Barbie (2023)" alt="Barbie (2023)">
            </div>
        </a>

        <a href="/Home/Detail/6">
            <div>
                <img src="~/filmblog.templete/img/filmfotolar/ÖrümcekAdamSide.jpg" title="Örümcek Adam_ Eve Dönüş Yok (2021)" alt="Örümcek Adam_ Eve Dönüş Yok (2021)">
            </div>
        </a>
        <a href="/Home/Detail/1">
            <div>
                <img src="~/filmblog.templete/img/filmfotolar/KaraSövalyeSide.jpg" title="Kara Şövalye (2008) " alt="Kara Şövalye (2008)">
            </div>
        </a>
    </div>
</section>


